<!DOCTYPE html>
<html>
<head>
  <title>Decidim users activity report</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "decidim/users_activity_report/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
